<div class="text-center">
<a href="orders/index" class="btn btn-primary" title='Click to open..'>
<h1 class="text-center"><%= @title %></h1>
<p class="text-center">Welcome To Order Status Update Shopify Application</p>
</a>
</div>