<div class="text-center" style="margin-top:5%;">
<a href="orders/" title="Click Here" class="btn btn-primary">
<h2 style="color:#fff;">ORDER STATUS UPDATE</h2>
<p style="color:#fff;">Welcome To Shopify Application</p>
</a>
</div>
  