<div class="text-center" style="margin-top:5%;">
<a href="/" title="Click Here" class="btn btn-primary">
<h2 style="color:#fff;">Products Process Underway..</h2>
<p style="color:#fff;">Welcome To Shopify Application</p>
</a>
</div>
<p class='text-right'><%= link_to '', home_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></p>

  