<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
</script>
<% end %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
<div class='container'>
<div class='row'>

<div class="text-center" style="margin-top:5%;">
<a href="/" title="Click Here" class="btn btn-primary">
<h2 style="color:#fff;">Process Underway</h2>
<p style="color:#fff;">Welcome To Shopify Application</p>
</a>
</div>
<p class='text-right'><%= link_to '', home_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></p>


</div>
</div>

