<div class="text-center">
<a href="orders/index" class="btn btn-primary" title='Click to open..'>
<h2 class="text-center"><%= @title %></h2>
<p class="text-center">Welcome To Shopify Application</p>
</a>
</div>