/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-color: #fff;
    color: #333;
    margin:0 auto !important;
  }
  
  h1, .h1 {
    font-size: 36px;
    text-decoration: underline;
  }
  
  .navbar-brand {
    padding: 6px 15px !important; 
  }
  
  footer{
    margin-top:50px;
    background: #fff;
    border-top:1px solid #0b8699;
    width:100%;
    text-align: center;
    bottom: 0px;
    position:fixed;
  }
  
  .navbar-default {
    background-color: #09a6ba !important;
    border-color: #0b8699 !important;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  
  .navbar-default .navbar-nav > li > a:hover {
    color: #000;
  }
  
  footer p{
    margin:0 auto;
    padding:5px;
  }