// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Create two equal columns that floats next to each other */
 .column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #1fc8db; 
    background-image: linear-gradient(141deg, #eceded -10%, #ffffff 50%, #f6f6f6 90%);
    border: 3px solid #fff;
    box-shadow: 0px -1px 5px #ccc;
    margin: 0 auto;
  }
  table.dataTable>tbody>tr.child ul.dtr-details {
    display: inline !important;
  }
  .list-inline {
    border-bottom: 1px solid #f1f1f1;
  }

  .list-group a, .column a {
    color: #000 !important;
    text-decoration: none;
  }
   
  .list-group .glyphicon, .column .glyphicon{
    float: right;
  }
  .column .list-group-item{
      margin-top: -25px;
      margin-bottom: -25px;
  }
  .list-group-item span{
   color:#000;
   font-size:10pt;
  }
  .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 0 !important;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    z-index: 999;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  